
.header {
  width: 1200px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.top-bar {
  width: 1200PX;
  background-color: rgb(147, 98, 0);  
  height: 20px;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.search-and-icons {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 20px;
}

.icon {
  margin-left: 10px;
  cursor: pointer;
}

.main-content {
  margin-top: 70px;
}

.hero-section {
  position: relative;
  width: 1200px;
  height: 80vh;
  overflow: hidden;
  margin-top: 908px;
  
}

.main-image {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
}

.hero-text h1 {
  font-size: 48px;
  margin: 0;
}

.hero-text p {
  font-size: 24px;
  color:rgba(255, 0, 0, 0.5)
}

.hero-text button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.category-section {
  padding: 40px 20px;
  text-align: center;
  flex-direction: column;
}

.category-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.category-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.category-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.category-item {
  text-align: center;
  flex: 1;
  margin-bottom: 20px;
}

.category-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.products-section {
  padding: 40px 20px;
  text-align: center;
}

.products-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
}

.product-card {
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
