.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #efebe8;

  .footer-content {
    margin: 44px 50px 30px;
    width: 55%;

    .footer-info-links {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;

      .footer-info {
        display: flex;
        flex-direction: column;

        .footer-title {
          font-size: 14px;
          font-family: 'CormorantGaramond', sans-serif;
          font-weight: 700;
          margin-bottom: 5px;
        }

        .footer-link {
          text-decoration: none;
          margin: 5px 0;
          font-size: 13px;
          color: #404040;
        }
      }
    }

    .footer-copyright-policy {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-copyright {
        display: flex;
        align-items: center;

        .copyright-text {
          font-size: 13px;
          margin: 0;
        }
      }

      .footer-policy {
        display: flex;
        align-items: center;
        gap: 10px;

        .policy-text {
          font-size: 11px;
          text-decoration: none;
          color: #666;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .footer-signup {
    margin-top: 44px;
    width: 35%;
    padding-left: 40px;

    .footer-title {
      text-align: start;
      font-size: 23px;
      font-weight: 700;
    }

    .footer-description {
      text-align: start;
      font-size: 20px;
      font-family: 'CormorantGaramond', sans-serif;
    }

    .signup {
      width: 80%;
      border: 0.5px solid #bebebe;
      height: 36px;
      display: flex;
      align-items: center;
      background-color: white;

      .signup-input {
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        height: 100%;
        width: calc(100% - 80px - 10px);
        font-size: 13px;

        &:focus {
          outline: none;
        }
      }

      .signup-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    .footer-media {
      margin-top: 24px;
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }
}
